@font-face{
  font-family: BigPixel;
  src: url("https://www.1001fonts.com/big-pixel-shadowed-demo-font.html");
}

html {
    background: black;
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
  size: 90px;
  font-family: "Apple Color Emoji";
  background-color: white;

}

canvas {
background-image: linear-gradient(to right, red, indianred);
margin-left: 100px;
margin-bottom: 100px;
}

body {
background-color: black;
}

.buttonGreen {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.buttonGreen:hover {
  background-color: #4CAF50;
  color: white;
}

.buttonRed {
  background-color: #f44336; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.buttonRed:hover {
  background-color: #f44336;
  color: white;
}

table, th, td {
  border:1px solid black;
  background-color: #0F0;
}

.alarm-state {
  font-size: 20px;
  background-color: #00FF00;
}

.alarm {
  background-color: #f44336;
  font-size: 40px;
  align-content: center;
  margin-top: 20px;
}
