<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />

    <title>Alarm</title>
</head>
<body>


    <table>
        <h1>Latest data</h1>
    <tr>
    <br/>
    <th>
        Position
    </th>
    <br/>
    <th>
        Datatime
    </th>
    <br/>
    <th>
        Device
    </th>
    <br/>
    </tr>

    {% for reading in readings %}
        <tr>
        <td>{{ reading.pos }}</td><br/>
        <td>{{ reading.datatime }}</td><br/>
        <td>{{ reading.device }}</td><br/>
        </tr>
    {%  endfor %}
    </table>
    <div class="alarm-state" id="alarmState"></div>
    <div class="alarm" id="alarm"></div>


    <button id= "alarm_button" class=".buttonGreen" onclick="activateAlarm()"> Activate alarm </button>

</body>
<script src="https://pixijs.download/release/pixi.js"></script>
<script src="static/script/index.js"></script>

</html>